<html>
    <head>
     <title><%=title%></title>
     <link rel="stylesheet" href="/css/layout.css">
     <%-style%> 
    </head>
    <body> 

   <%-include('_header');%>                      <!--this is called partials-->        
   <%if(flash.success && flash.success.length>0){%>
    <h5>
        <%=flash.success%>
    </h5>
    <%}%>
      <%- body %>                <!--body is predefine in ejs library-->  <!--variable part-->       
  <%-include('_footer');%>
  <%-script%>
    </body>
</html>
<!--layout file automatically invoke  for every views or ejs files/pages-->